<!-- <app-tabs></app-tabs> -->
<form class="example-form" [formGroup]="authForm" (ngSubmit)="register()">
    <!-- <div *ngIf="isSubmit" class="invalid-feedback">
         <ion-text validationText *ngIf="form.name.errors.required">
          <p>*Name is required!</p>
        </ion-text>
    </div> -->
    <!--DELEAR ID -->
    <mat-form-field class="example-full-width" appearance="fill">
    
      <input matInput type="text" class="form-input" formControlName="dealerId" placeholder="Enter Your Dealer ID">
      <mat-error *ngIf="errorHandling('dealerId', 'required')" style="color:#f70101 !important;">
          Dealer ID is <strong>required!</strong>
      </mat-error>
      </mat-form-field>
      <!---------------->

       <!--ORDER NUMBER-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="orderNumber" placeholder="Enter Your Order Number">
      <mat-error *ngIf="errorHandling('orderNumber', 'required')" style="color:#f70101 !important;">
        Order Number is <strong>required</strong>
      </mat-error>
      </mat-form-field>
      <!--------------->
      <!----Scheme ID-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="schemeId" placeholder="Enter Schema Id">
      <mat-error *ngIf="errorHandling('schemeId', 'required')" style="color:#f70101 !important;">
        Schema ID is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <!---------------->

      <!----MANUFACTURER ID-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="manId" placeholder="Enter Manufacturer Id">
    </mat-form-field>
      <!--------------->
  
      <!--ASSET ID-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="assetId" placeholder="Enter Asset ID">
    </mat-form-field>
    <!----------------->
    
    <!---LOAN AMOUNT-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="loanAmount" placeholder="Enter Loan Amount">
      <mat-error *ngIf="errorHandling('loanAmount', 'required')" style="color:#f70101 !important;">
        Loan Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!---------------->
     
    <!----TNC ACCEPT-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="tncAccept" placeholder="Enter TNC Accept">
      <mat-error *ngIf="errorHandling('tncAccept', 'required')" style="color:#f70101 !important;">
        TNC Accept is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!------------------>
  
    <!--CARD NUMBER-->
    <mat-form-field class="example-full-width" appearance="fill">
    <input matInput type="text" class="form-input" formControlName="cardNumber" placeholder="Enter Your Card Number">
    <mat-error *ngIf="errorHandling('cardNumber', 'required')" style="color:#f70101 !important;">
      Card Number  is <strong>required</strong>
    </mat-error>
    </mat-form-field>
    <!---------------->

    <!----Mobile Number-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="mobile" placeholder="Enter Mobile Number">
      <!-- <mat-error *ngIf="errorHandling('mobile', 'required')" style="color:#f70101 !important;">
        Mobile Number is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <!-------------->

    <!------OTP NO-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="otpNo" placeholder="Enter OTP Number">
      <mat-error *ngIf="errorHandling('otpNo', 'required')" style="color:#f70101 !important;">
        Otp No is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <!---------------->
      
      <!-----NAME-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="name" placeholder="Enter Name As Your Card">
      </mat-form-field>
      <!------------->
      
      <!---IP ADDRESS-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="ip" placeholder="Enter IP Address">
      <mat-error *ngIf="errorHandling('ip', 'required')" style="color:#f70101 !important;">
        IP Adress is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <!---------------->
      
      <!----TENURE-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="tenure" placeholder="Enter Tenure">
      <mat-error *ngIf="errorHandling('tenure', 'required')" style="color:#f70101 !important;">
        Tenure is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <!-------------->
      
      <!---PIN CODE-->
      <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="pinCode" placeholder="Enter Pin Code">
      <mat-error *ngIf="errorHandling('pinCode', 'required')" style="color:#f70101 !important;">
        Pin Code is <strong>required</strong>
      </mat-error>
     </mat-form-field>
     <!------------->

     <!--REQUEST ID--->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="requestId" placeholder="Enter Request Id">
      <mat-error *ngIf="errorHandling('requestId', 'required')" style="color:#f70101 !important;">
        Request Id is <strong>required!</strong>
      </mat-error>
      </mat-form-field>
     <!------->

    <!--- VALIDATION KEY -->

    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput type="text" class="form-input" formControlName="validationKey" placeholder="Enter Validation Key">
        <mat-error *ngIf="errorHandling('validationKey', 'required')" style="color:#f70101 !important;">
            Validation Key is <strong>requird!</strong>
        </mat-error>
    </mat-form-field>
      <!------------------>

    <!---SALE TYPE-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" class="form-input" formControlName="saleType" placeholder="Enter Sale Type">
      <!-- <mat-error *ngIf="errorHandling('saleType', 'required')" style="color:#f70101 !important;">
        Sale Type is <strong>required</strong>
      </mat-error>  -->
    </mat-form-field>
      <!---------------->
  
      <!----Description-->
      <mat-form-field class="example-full-width" appearance="fill">
      <textarea matInput class="form-input" formControlName="desc" placeholder="Enter Description Here">
      </textarea>
      <mat-error *ngIf="errorHandling('desc', 'required')" style="color:#f70101 !important;">
        Description is <strong>required</strong>
      </mat-error>
      </mat-form-field>
      <!------------->
    <!--REQUEST DATE 1-->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" formControlName="rqstOne" class="form-input" placeholder="Request Date 1">
      <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
    </mat-form-field>
    <!--------------->
    
    <!----REQUEST DATE 2-------->
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="text" formControlName="rqstTwo" class="form-input" placeholder="Request Date 2">
      <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker> -->
    </mat-form-field>
    <!-------------->
    
    <!--REQUEST TEXT ONE-->
    <mat-form-field class="example-full-width" appearance="fill">
    <input matInput type="text" class="form-input" formControlName="rqstTextOne" placeholder="Enter Request Text 1">
    <mat-error *ngIf="errorHandling('rqstTextOne', 'required')" style="color:#f70101 !important;">
      Request Text One is <strong>required</strong>
    </mat-error>
    </mat-form-field>
    <!------->
   
    <!--REQUEST TEXT TWO-->
    <mat-form-field class="example-full-width" appearance="fill">
    <input matInput type="text" class="form-input" formControlName="rqstTextTwo" placeholder="Enter Request Text 2">
    <mat-error *ngIf="errorHandling('rqstTextTwo', 'required')" style="color:#f70101 !important;">
      Request Text Two is <strong>required</strong>
    </mat-error>
    </mat-form-field>
    <!------------------>

    
    
    
    
     
    

    
   
    <!-- <div *ngIf="isSubmit" class="invalid-feedback"> -->
        <!-- <ion-text validationText *ngIf="form.email.errors.required">
          <p>*Email is required!</p>
        </ion-text>
        <ion-text validationText *ngIf="form.email.errors.email">
          <p>*Email must be a valid email address!</p>
        </ion-text>
       
     </div> -->
     <div>
      <button type="submit">Submit</button>
    </div>  

</form>
<div>
  <div><b>if validation for field is true then data will be entered in this array</b></div>
  <div>{{showResponse | json}}</div>
  </div>
<!-- <app-footer></app-footer> -->



